{
  ;; to obtain the app id: `osascript -e 'id of app "application_name"'`
  :applications {
    :chrome ["^com\\.google\\.Chrome$"]
    :firefox ["^org\\.mozilla\\.firefox$"]
    :alacritty ["^org\\.alacritty$"]
    :cursor ["^com\\.todesktop\\.230313mzl4w4u92$"]
    :postman ["^com\\.postmanlabs\\.mac$"]
  }

  :templates {
    :launch "open -a \"%s\""
  }

  :simlayer-threshold 500

  :main
  [
    {:des "Key mappings" :rules [
      [:caps_lock :left_control] ;; map caps_lock to left_control
    ]}

    {:des "Navigation" :rules [
      [:f23 :!CSopen_bracket :chrome]
      [:f24 :!CSclose_bracket :chrome]

      [:f23 :!Tpage_up :firefox]
      [:f24 :!Tpage_down :firefox]

      [:f23 [:!Tf :!Sh] :alacritty]
      [:f24 [:!Tf :!Sl] :alacritty]

      [:f23 :!CSopen_bracket :postman]
      [:f24 :!CSclose_bracket :postman]

      [:f23 :!COleft_arrow :cursor]
      [:f24 :!COright_arrow :cursor]
    ]}

    {:des "Launch applications" :rules [
      [:!!r [:launch "Cursor"]]
      [:!!e [:launch "Firefox"]]
      [:!!w [:launch "Zalo"]]
      [:!!q [:launch "Postman"]]

      [:!!f [:launch "Alacritty"]]
      [:!!d [:launch "Google Chrome"]]
      [:!!s [:launch "Slack"]]
      [:!!a [:launch "Finder"]]

      [:!!z [:launch "Notes"]]
    ]}
  ]

  ;; code won't read cheatsheet section
  ;; ! stand for mandatory
  ;; # stand for optional
  ;; C T O S for left command control optional shift
  ;; F for fn
  ;; need to prefix C T O S F with ! or #
  :cheatsheet {
    :!Ca "command a" ;; mandatory left_command
    :!Ta "control a" ;; mandatory left_control
    :!Oa "option a"
    :!Sa "shift a"
    :#Sa "shift a" ;; keycode a, optional left_shift
    :!CTOa "command control option a"
    :!Cspacebar "command space"
    :!Fa "fn a"
    :##a "keycode a optional any"
    :!!a "mandatory hyper(control command option shift) a "
  }
}
