{
  ;; to obtain the app id: `osascript -e 'id of app "application_name"'`
  :applications {
    :chrome ["^com\\.google\\.Chrome$"]
    :alacritty ["^org\\.alacritty$"]
  }

  :templates {
    :launch "open -a \"%s\""
  }

  :simlayers {
    :launch-mode {:key :quote}
  }

  :simlayer-threshold 500

  :main
  [
    {:des "Key mappings" :rules [
      [:caps_lock :left_control] ;; map caps_lock to left_control

      [[:a :semicolon] :!Cgrave_accent_and_tilde]
      [[:f :j] :!Ctab]

      [[:tab :r] :!Cr [:chrome]]
      [[:tab :w] :!Cw [:chrome]]
      [[:tab :t] :!Ct [:chrome]]
      [[:tab :f] :!Cf [:chrome]]
      [[:tab :a] :!Ca [:chrome]]
      [[:left_shift :tab :t] :!CSt [:chrome]]
      [[:tab :l] :!Cl [:chrome]]
      [[:left_shift :tab :n] :!CSn [:chrome]]

      [:up_arrow :vk_none]
      [:down_arrow :vk_none]
      [:left_arrow :vk_none]
      [:right_arrow :vk_none]
      [:page_up :vk_none]
      [:page_down :vk_none]
      [:insert :vk_none]
      [:delete_forward :vk_none]
      [:home :vk_none]
      [:end :vk_none]
    ]}

    {:des "Launch applications" :rules [
      [:t [:launch "Alacritty"] :launch-mode]
      [:b [:launch "Google Chrome"] :launch-mode]
      [:i [:launch "IntelliJ IDEA"] :launch-mode]
      [:z [:launch "Zalo"] :launch-mode]
      [:f [:launch "Finder"] :launch-mode]
      [:c [:launch "Visual Studio Code"] :launch-mode]
      [:a [:launch "Postman"] :launch-mode]
      [:s [:launch "Slack"] :launch-mode]
      [:d [:launch "Skype"] :launch-mode]
    ]}

    {:des "SuperDuper <- S+D" :rules [
      [{:sim [:s :d]
        :simo {:interrupt true
               :dorder :insensitive
               :uorder :insensitive
               :afterup {:set ["superduper-mode" 0]}}} {:set ["superduper-mode" 1]}]

      [:##h :left_arrow :superduper-mode]
      [:##j :down_arrow :superduper-mode]
      [:##k :up_arrow :superduper-mode] [:##l :right_arrow :superduper-mode]

      [:##a :left_option :superduper-mode]
      [:##spacebar :left_shift :superduper-mode]
      [:##f :left_command :superduper-mode]

      [:##i :!CSopen_bracket [:superduper-mode :chrome]]
      [:##o :!CSclose_bracket [:superduper-mode :chrome]]

      [:##i [:!Tf :h] [:superduper-mode :alacritty]]
      [:##o [:!Tf :l] [:superduper-mode :alacritty]]
    ]}

    {:des "Mouse mode" :rules [
      [{:sim [:d :f]
        :simo {:interrupt true
               :dorder :insensitive
               :uorder :insensitive
               :afterup [{:set ["mouse_mode" 0]} {:set ["mouse_mode_scroll" 0]}]}} [{:set ["mouse_mode" 1]}]]

      [:##u {:mkey {:vwheel 50}} :mouse_mode]
      [:##i {:mkey {:vwheel -60}} :mouse_mode]
      [:##y {:mkey {:hwheel 60}} :mouse_mode]
      [:##o {:mkey {:hwheel -60}} :mouse_mode]

      [:##w {:mkey {:speed 5.0}} :mouse_mode]
      [:##s {:mkey {:speed 3.0}} :mouse_mode]
      [:##a {:mkey {:speed 0.5}} :mouse_mode]

      [:##j {:mkey {:y 1200}} :mouse_mode]
      [:##k {:mkey {:y -1200}} :mouse_mode]
      [:##h {:mkey {:x -1200}} :mouse_mode]
      [:##l {:mkey {:x 1200}} :mouse_mode]

      [:##spacebar {:pkey :button1} :mouse_mode]
      [:##return_or_enter {:pkey :button2} :mouse_mode]
    ]}
  ]

  ;; code won't read cheatsheet section
  ;; ! stand for mandatory
  ;; # stand for optional
  ;; C T O S for left command control optional shift
  ;; F for fn
  ;; need to prefix C T O S F with ! or #
  :cheatsheet {
    :!Ca "command a" ;; mandatory left_command
    :!Ta "control a" ;; mandatory left_control
    :!Oa "option a"
    :!Sa "shift a"
    :#Sa "shift a" ;; keycode a, optional left_shift
    :!CTOa "command control option a"
    :!Cspacebar "command space"
    :!Fa "fn a"
    :##a "keycode a optional any"
    :!!a "mandatory hyper(control command option shift) a "
  }
}
